* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.pOvRwHj19chJGkgemUH3 ._M8cCug8H18ALQ05cNMt {
   color: blueviolet;
}

.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q {
   width: 292px;
   padding: 10px 15px;
   font-size: 13px;
   line-height: 18px;
   border: 2px solid #1660ea;
   border-radius: 8px;
}

.BYpXSnOHfrC2td4QRijO {
   background-color: #7B68EE;
}